//color main
main {
		background-color: papayawhip;
}



//comienza estilo cards

	.my_card {
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
		overflow: hidden;
		transition: all 0.5s;
		box-sizing: border-box;
		z-index: 100;
		height: 550px;
	}

	.my_card:hover {
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
		z-index: 100;
	}

	.card_img {
		width: 100%;
		height: 50%;
		object-fit: cover;
	}

//termina estilo cards	





	
