//estilo formularios

// inicio estilos form y maps

	form {
		background-color: rgba(196,196,196,0.5);
		width: 100%;
		margin: 10px 0;
		text-align: center;
		padding: 10px;	
		font-size: 1rem;
		font-weight: 200;
			label {
				display: block;
				margin: 5px 0;
					input {
						margin: 5px;
						text-align: center;
						width: 80%;		
						font-size: 1rem;							
					}
			}			
	}

	.text_area {
			width: 80%;
			height: 300px;
	}
									
	.boton {
		width: 80px;
	}
							
	form ::placeholder {
		font-size: .8rem;
		text-align: center;
	}

	form .text_area::placeholder {
		line-height: 200px;
	}

	.maps {
		text-align: center;
		width: 100%;
		height: 300px;
		border: none;
	}
// end estilos form y maps

//estilo en 1024 px

@media only screen and (min-width: 1024px){
	
	form {
		width: 70%;
	}

	.maps {
		width: 50%;
	}
}