//estilo nav propia

	nav ul {
		margin-top: 40px;
	}

	nav ul li a:hover {
		color: black;
		font-weight: 600;
		cursor: pointer;
	}

	.bg-colorNav {
		background-color: $mainColor;
	}

	.logo {
		width: 150px;
		margin-left: 10px;
		margin-top: 5px;		
	}

// end estilo nav propia

//estilo en 1024 px

@media only screen and (min-width: 1024px){

	.logo {
		width: 250px;

	}

	nav ul {
		font-size: 1.5rem;
		margin-top: 80px;
	}
}